body{
    margin-left: 20px;
    
}
nav{
    background-color: turquoise;
    backdrop-filter:blur(1px);
    /* backdrop-filter: opacity(10%); */
    position: relative;
    
}
nav ul{
    display: inline-block;
    left: 100px;
    position: absolute;
}

nav ul li{
    display: inline-block;
    margin:5px;
    border: 0.5px solid blue;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 50px;
    
}
nav ul li:hover{
    background-color: black;
    transform:scale(1.3);
    transition: .2s ease-in-out;
}
nav ul li a:hover{
    color:red;
}
a{
    text-decoration: none;
    color:darkblue;
    font-size: larger;

}
nav img{
    display: inline-block;
    margin: 10px 10px;
    border: 2px solid black;
    animation: rot .1s .5s infinite linear;
}
@keyframes rot{
    to{transform: rotate(360deg);}
}
#first{
    margin-left: 100px;
}
section p img:hover{
    animation: mov 2s infinite linear;
    cursor: pointer;
}
@keyframes mov{
    from{
        transform: translateX(0px);
    }
    to{
        transform:translateX(150px);
    }
}
